footer{
    background: #040130;
    text-align: center;
    padding: 20px 3px;
    color: #c09e09;

}
ul{
    list-style: none;
    li{
        color: #ffffff;
    }
}
.footer-right{
    address{
        color: #838583;
    }
}



