.hero
{
    // background: url("/assets/images/bg/image1.jpg"),rgba(80, 80, 79, 0.5);
    // linear-gradient(to left, #ffffff 10%,#0000);
    background: $dark-blue;
    height: 95vh;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    .pitch{
        // width: 630px;
            p{
                text-transform: capitalize;
                text-decoration: initial;
                color: #f8f8f5;
                text-shadow: 3px 2px $dark;
                padding-top:5rem;
                line-height: 2;
                font-weight: lighter;
                font-size: 1.8rem;
                text-align:center;
                font-family: 'Krub', serif;
            }

        }
    }


.welcome-text{
        font-size: 2rem;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 3px 2px $dark;
        font-weight: 900;
        font-family: 'Krub', serif;

}



.get-started,.learn-more{
    background: inherit;
    font-family: 'Tangerine', serif;
    &:hover{
        background: #f8f8f5;
        transition: 0.5s all;
        color: #2c2b2b;
    }
    color: #f8f8f5;

    padding: 10px;
    text-transform: capitalize;
    font-size: 2rem;
    border-radius: 5px;
    margin: 5px;
}


.featured-shops{
    background: #ffffff;
}


.featured-products{
    background: #ffffff;
}



.testimonials{
    background: #ffffff;
    padding: 2rem;
}

.slide-wrapper
{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    box-shadow: 20px 10px 30px 10px #000000;
    border-radius: 20px;
    padding:30px;
    .testifyer{
        margin-bottom: 20px;
        text-align: start;
        img{
           width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}

.featured{
    margin-right: 2rem;
    color: #ffffff;
}

.start-shop{
    position: relative;
    top: 1px;
}
#learnmore-div{
    border: 3px solid #eee8aa;
    padding: 30px;
}


.business-model{
    background: #ffffff;
    border-bottom: 6px solid #08021f;
    h2{
        text-align: center;
        border-top:6px solid #000000;
    }
}
.model-imges-wrapper{
    width: 480px;
}

.model-row{
    display: flex;
    justify-content: center;
    align-content: center;
}

.models-images{
    width: 200px;
    margin: 20px;
    height: 150px;
    border-radius: 10%;
    box-shadow: 5px 10px 10px 5px #08021f;
}


.different-models>p{
    width: 480px;
    text-align: center;
    margin: auto;
    border-bottom: 6px solid #08021f;
    color: $dark;
}
.other_features{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 70vh;
    padding: 5rem 30px;
    margin-bottom: 2rem;
}
.wrapper-for-other-fearture{
    width: 500px;
    padding: 50px;
    border-radius: 6px;
    p{
        color: #2c2c2c;
        text-transform: capitalize;
        font-weight: lighter;
        font-size: 1.2rem;
        line-height: 2;
    }
}
