.hero
{
    // background: url("/assets/images/bg/landing4.jpg");
    // linear-gradient(to left, #ffffff 100%,#0000);
    height: 70vh;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: top;
    background:$dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pitch{
        width: 630px;
            p{
                text-transform: uppercase;
                text-decoration: initial;
                color: #ffffff;
                margin: auto;
                padding-top:5rem;
                line-height: 3;
            }

        }
    }


.welcome-text{
        font-size: 2rem;
        text-transform: uppercase;
        // color: #0c458f;
        // color: #d8d2d2;
        color: #eee8aa;
        text-shadow: 3px 2px $dark;
        line-height: 1.6;
}



.get-started,.learn-more{
    background: inherit;
    &:hover{
        background: #808080;
        transition: 1s all;
        border: #08021f 3px solid;
    }
}
.get-started,.learn-more{
    color: #eee8aa;
    padding: 5px;
    text-transform: capitalize;
    font-size: 2rem;
    border-radius: 5px;
    margin: 5px;
    border: $dark 3px solid;
}


.featured-shops{
    background: #ecf0f0;
}

.shops-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // padding: 20px;
    border-bottom: 5px #000000;
}
.shops{
    width: 190px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 6px #ffffff;
    padding: 10px;
    margin-bottom: 2rem;
    margin-right: 30px;
    background: $white;
    .shop-image{
        border-bottom: 5px solid #808080;
        img{
            width: 100%;
            border-radius: 3px;
        }
    }
    .shop-description{
        p{
            box-shadow: 2px 3px #d8d2d2;
            margin-top: 20px;
            padding: 2px;
            max-height: 40px;
            overflow-y: scroll;
        }
        .details{
            background: $dark-blue;
            color: #eee8aa;
            border-radius: 6px;
            padding: 4px;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            border: none;
        }
    }
}
.shop-btn{
    background: $dark-blue;
    padding: 4px;
    border-radius: 3px;
    text-transform: uppercase;
    color: $white;
}
.featured-products{
    background: #08021f;
}

.shops-heading{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.testimonials{
    background: #ffffff;
    padding: 2rem;
}

.slide-wrapper
{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    box-shadow: 20px 10px 30px 10px #000000;
    border-radius: 20px;
    padding:30px;
    .testifyer{
        margin-bottom: 20px;
        text-align: start;
        img{
           width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}

.featured{
    margin-right: 2rem;
    color: #ffffff;
}

.start-shop{
    position: relative;
    top: 1px;
}
#learnmore-div{
    border: 3px solid #eee8aa;
    padding: 10px;
}


.business-model{
    background: #ffffff;
    border-bottom: 6px solid #08021f;
    h2{
        text-align: center;
        border-top:6px solid #000000;
    }
}
.model-imges-wrapper{
    width: 480px;
}

.model-row{
    display: flex;
    justify-content: center;
    align-content: center;
}

.models-images{
    width: 200px;
    margin: 20px;
    height: 150px;
    border-radius: 10%;
    box-shadow: 5px 10px 10px 5px #08021f;
}


.different-models>p{
    width: 480px;
    text-align: center;
    margin: auto;
    border-bottom: 6px solid #08021f;
    color: $dark;
}
