.hero
{
    // background: url("/assets/images/bg/landing4.jpg");
    // linear-gradient(to left, #ffffff 100%,#0000);
    min-height: 100vh;

    background-size: cover;
    background-blend-mode: overlay;
    background-position: top;
    background:$dark-blue;
    padding: 2rem;
    .img{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .div-1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p{
                text-transform: uppercase;
                text-decoration: initial;
                color: #ffffff;
                margin: auto;
                padding-top:5rem;
            }
            .second-p{
                // color: #06276e;
                color:#ffffff;
                margin-bottom: 2rem;
                font-size: 1.5rem;
                font-weight: 900;
            }
        }
        div:nth-child(2){
            margin:auto;
        }
    }
}

.welcome-text{
    h1{
        font-size: 2rem;
        text-transform: uppercase;
        // color: #0c458f;
        color: #d8d2d2;
       text-align: center;
        text-shadow: 3px 2px $dark;
        line-height: 1.6;;
    }
}

.learn-more{
    background: inherit;
    border: 2px solid #808080 ;
    border: inherit;
    &:hover{
        background: #808080;
        transition: 1s all;
    }
}

.get-started{
    background: inherit;
    border: inherit;
    &:hover{
        background: #808080;
        transition: 1s all;
    }
}
.get-started,.learn-more{
    color: #07b4c0;
    padding: 5px;
    text-transform: capitalize;
    font-size: 2rem;
    border-radius: 5px;
    margin: 5px;
}


.featured-shops{
    background: #ecf0f0;
}

.shops-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // padding: 20px;
    border-bottom: 5px #000000;
}
.shops{
    width: 190px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 6px #ffffff;
    padding: 10px;
    margin-bottom: 2rem;
    margin-right: 30px;
    background: $white;
    .shop-image{
        border-bottom: 5px solid #808080;
        img{
            width: 100%;
            border-radius: 3px;
        }
    }
    .shop-description{
        p{
            box-shadow: 2px 3px #d8d2d2;
            margin-top: 20px;
            padding: 2px;
            max-height: 40px;
            overflow-y: scroll;
        }
        .details{
            background: $dark-blue;
            color: $white;
            border-radius: 3px;
            padding: 4px;
            font-size: 1rem;
            font-style: italic;
            font-weight: 500;
            border: none;
        }
    }
}
.shop-btn{
    background: $dark-blue;
    padding: 4px;
    border-radius: 3px;
    text-transform: uppercase;
    color: $white;
}
.featured-products{
    background: #08021f;
}

.shops-heading{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.testimonials{
    background: #ffffff;
    padding: 2rem;
}

.slide-wrapper
{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    box-shadow: 20px 10px 30px 10px #000000;
    border-radius: 20px;
    padding:30px;
    .testifyer{
        margin-bottom: 20px;
        text-align: start;
        img{
           width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}

.featured{
    margin-right: 2rem;
    color: #ffffff;
}

.start-shop{
    position: relative;
    top: 1px;
}
