@media(max-width:627px){
    .hero
    {
    height: 85vh;
    padding: 5rem 0px 1rem 0px;
    justify-content: flex-start !important;
    align-items: center;
    .pitch{
    width: 100%;
    p{
            padding-top: 3rem;
            margin-bottom: 2rem;
                line-height: 2.5;
                text-align: center !important;
            }
    }
}


.welcome-text{
        font-size: 1.2rem;
        text-align: center;
}


.get-started,.learn-more{
    color: $white;
    padding: 2px;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 5px;
    margin: 5px;
}
.featured{
    font-size: 1.3rem;
    margin-right: 1rem;
}
.shops{
    width: 130px;
    margin-right: 1.5rem;
}
.toggler{
    display: block !important;
    text-align: start;
    padding-left: 10px;
    background: $dark-blue;
    cursor: pointer;    
}
#sidebar{
    opacity: 0;
    height: 0;
    width: 0 !important;
    flex: 0;
}
}

@media(max-width:466px){
    h1,h2,h3,h4,h5,h6{
        font-size: 1rem !important;
    }
    .shops{
        width: 120px;
        margin-right: 1.3rem;
    }

    .model-imges-wrapper{
        width: 380px;
    }


    .models-images{
       width: 130px;
       margin: 10px;
       height: 130px;
       border-radius: 10%;
    }

    .different-models>p{
        width: inherit;
        justify-content: left;
    }
    .shops-details{

        justify-content: center;
    }
    .shops{
        margin: 15px ;
    }

    .products-details{
        margin-right:10px;
        width: 120px;
    }
    .product-prices-name{
        flex-direction: column-reverse;
        align-items: center;
    }
    .add-cart{
        flex-direction: column;
        align-items: center;
    }
   
}

@media(max-width:360px){
    .products-details{
        margin-bottom: 30px;
        width: 200px;
    }
    .product-prices-name{
        flex-direction: row;
        justify-content: space-between;
    }
    .add-cart{
        flex-direction: row;
        justify-content: space-between;
    }

}
