@media(max-width:820px){
    .products-details{
        width: 150px;
    }
    .product-images{
        .images-class{
            height: 120px;
        }
    }
}
@media(max-width:647px){



.toggler{
    display: block !important;
    text-align: start;
    padding-left: 10px;
    background: $dark-blue;
    cursor: pointer;
}
#sidebar{
    opacity: 0;
    height: 0;
    flex: 0;
}


.products-details{
    width: 150px;
}

}

@media(max-width:526px){

    .products-flex-deplay{
        justify-content: center;
      }

    .product-images{
        .images-class{
            height: 120px;
        }
    }

}

@media(max-width:347px){
    .products-details{
        width: 200px;
    }
}



