@media(max-width:627px){
    .hero
{
    padding: 2rem;
    .img{
        .div-1{

            p{
                padding-top:2rem;
            }
            .second-p{
                margin-bottom: 1rem;
                font-size: 1rem;
                // text-align: start;
            }
        }
    }

}

.welcome-text{
    h1{
        font-size: 1.2rem;
        margin-bottom: 12px;;
    }
}


.get-started,.learn-more{
    color: $white;
    padding: 2px;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 5px;
    margin: 5px;
}
.featured{
    font-size: 1.3rem;
    margin-right: 1rem;
}
.shops{
    width: 130px;
    margin-right: 1.5rem;
}
}

@media(max-width:466px){
    h1,h2,h3,h4,h5,h6{
        font-size: 1rem;
    }
    .shops{
        width: 120px;
        margin-right: 1.3rem;
    }

}
