.default-bg{
     background: $dark-blue;
     ul>li{
         .nav-link{
         color:#ffffff !important;
         text-transform: uppercase;
         &:hover{
             color: #0000;
         }
         }
        //  overflow-y: hidden;
     }
}
.new-bg{
  background: $white;
  position: fixed !important;
  top: 0px;
  transition: 0.5s all;
  border-bottom: 4px #b8b1b1;
  min-height: 4rem;
  width: 100%;
  z-index: 2;
  ul>li{
      .nav-link{
          columns: #000000 !important;
      }
  }
}
