.default-bg{
     background: #08060433;
     ul>li{
         .nav-link{
         color:#0a0a0a;
         text-transform: uppercase;
         &:hover{
             color: #4d4d4b !important;
             transition: 1s ease-in-out;
         }
        }
     }
}
.new-bg{
  background: $white;
  position: fixed !important;
  top: 0px;
  transition: 0.5s all;
  border-bottom: 4px #b8b1b1;
  min-height: 4rem;
  width: 100%;
  z-index: 2;
  text-transform: uppercase;
  ul>li{
      .nav-link{
          color: #292927;
          &:hover{
            color: #802525 !important;
            transition: 1s ease-in-out;
        }
      }
  }
}

.active{
    color:#865050 !important;
    text-shadow:  1px 2px #3a3939;
}
