.default-bg{
     background: $dark-blue;
     ul>li{
         .nav-link{
         color:#ffffff;
         text-transform: uppercase;
         &:hover{
             color: #a09606 !important;
             transition: 1s ease-in-out;
         }
        }
     }
}
.new-bg{
  background: $white;
  position: fixed !important;
  top: 0px;
  transition: 0.5s all;
  border-bottom: 4px #b8b1b1;
  min-height: 4rem;
  width: 100%;
  z-index: 2;
  text-transform: uppercase;
  ul>li{
      .nav-link{
          color: #c2af06;
          &:hover{
            color: #292828 !important;
            transition: 1s ease-in-out;
        }
      }
  }
}

.active{
    color:#c2af06 !important;
    text-shadow:  1px 2px #686767;
}
