.products-page{
    background: #ffffff;
    min-height: 100vh;
    padding-top: 10px;
}
.products-flex-deplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.products-details{
    width: 200px;
    margin: 0px 0 20px 20px;
    box-shadow: 5px 5px 6px 5px #b8b5b5;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.product-prices-name{
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    margin-bottom: 5px;
    border-bottom: 3px solid #b8b5b5;
    border-top: 3px solid #b8b5b5;
}

.details{
    background: $dark-blue;
    padding: 0px 12px;
    border-radius: 10px;
    .details-link{
        color: $white;
        display: block;
        text-align: center;
    }
}
.add-to-cart{
    background: $dark-blue;
    color: #c9ac09;
    padding: 2px;
    border-radius: 5px;
}
.add-cart{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    margin-top: 10px;
}
.product-images{
    padding: 10px;
    box-shadow: 2px 3px 2px 3px #b8b5b5;
    border-radius: 10px;
    margin-bottom: 10px;
    .images-class{
        width: 100%;
    }
}