  #sidebar{
    height: 100vh;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    padding-bottom: 30px;
    background: $dark-blue;
    transition: all 0.7s ;
    // overflow: hidden;
    padding-top: 2rem;

  }

.sidebar-menu{
    color:#f3f1f799;
    font-size: 1rem;
    font-family: 'Rubbik',sans-serif;
    font-style:normal;
    font-weight: bolder;
    display: block;
    border-bottom: 1px solid #302e2e;
    text-align: center;
    text-transform: uppercase;
    &:hover{
        color: #302e2e;
    }
}
.toggler{
    display: none;
}

.flex-content{
    display :flex;
}

.main{
    flex: 10;
    padding: 1rem 2rem !important;
}

#sidebar{
    flex: 2;
}

.flex-zero{
    opacity: 0;
    height: 0;
}