  #sidebar{
    height: 100vh;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    padding-bottom: 30px;
    background: $dark-blue;
    transition: all 0.7s ;
    // overflow: hidden;
    padding-top: 2rem;

  }

.sidebar-menu{
    color:#ffffff;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    display: block;
    border-bottom: 1px solid #302e2e;
    text-align: start;
    text-transform: capitalize;
    padding: 1rem 0px ;
    padding-left: 10px;
    &:hover{
        color: #c2af06;
        transition: 0.5s ease-in-out;
        background: #0a0a0a;
    }
}
.toggler{
    display: none;
}

.flex-content{
    display :flex;
}

.main{
    flex: 10;
    padding: 1rem 2rem !important;
}

#sidebar{
    flex: 2;
}

.flex-zero{
    opacity: 0;
    height: 0;
}

.sidebar-dropdown-paranet{
    background: #302e2e;
    display: flex;
    flex-direction: column;
    display: none;
}

.sidebar-dropdwn-menu{
    color: #ffffff;
    padding: 10px 0px;
    padding-left: 10px;
    border-bottom: 1px solid #c2af06;
    font-family: inherit;
    z-index: 2;
    &:hover{
        color: #090909;
        transition: 0.5s ease-in-out;
        background: #ffffff;
    }
}
