// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$typo-graphy : 'Rubik';


// Colors
$blue: #075594;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #d66e05;
$yellow: #ffed4a;
$green: #38c172;
$teal: #012e29;
$cyan: #6cb2eb;
$dark-blue:#080253;
$dark:#000000;
$gray:rgba(161, 20, 20, 0);
$dark-red:#580404;
$white:#ffffff;

