// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik');

// Variables

// Bootstrap
@import './variables';

@import './navbar';
@import './sidebar';
@import './products';
@import  './cart';
@import  './services.scss';


a{
    text-decoration: none;
}
a:hover{
    text-decoration: none!important;
}
h1,h2,h3,h4,h5,h6{
    overflow-y: hidden;
}


*{
overflow-x: hidden;
padding: 0;
}
body{
    background: #ffffff !important;
}


.file-name {
    position: relative;
    // bottom: -35px;
    left: 10px;
    font-size: 0.85rem;
    color: #555;
  }

  .file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }

  input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
@import './home';
@import './media';

@import  './footer';
@import '~bootstrap/scss/bootstrap';
